/*button{
  border-radius: 6px;
  border: 0;
}
.AddButton{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  background: chartreuse;
}*/

.TodoItem{
}

.App {
  /*background-color: chartreuse;*/
  text-align: center;
}

.AddButton{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 40px;
  background: #8d0021;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 0px;
  font-size: 20px;
  color: white;
}

.AddButton:hover {
  background: #d8335e;
}

.Img{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 3px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.Button{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}